img{
    height: 45%;
    width: 45%;
}
.shell{
    height:600px;
    width:700px;
    overflow-y:hidden;
    overflow-x:hidden;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid;
}

.content{
    padding:15px;
}